[flake8]
max-line-length = 80
ignore =
  # object names too complex
  C901,
  # four-space indents
  E111, E114,
  # line continuations
  E121,
  # line breaks around binary operators
  W503, W504
max-complexity = 18
select = B,C,F,W,T4,B9,E261
exclude = 
  .git,
  __pycache__
